[package]
name = "surrealdb-component-sdk"
version = "0.1.0"
edition.workspace = true
license.workspace = true
repository.workspace = true

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
anyhow.workspace = true
ciborium.workspace = true
chrono.workspace = true
prost-types.workspace = true
serde.workspace = true
serde_json.workspace = true
wit-bindgen.workspace = true
