[package]
name = "guest-demo"
version = "0.1.0"
edition.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
anyhow.workspace = true
serde_json.workspace = true
surrealdb-component-sdk = { path = "../../crates/surrealdb-component-sdk" }
