name: CI

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: wasm32-wasip2
          components: rustfmt, clippy
      - name: Install task
        uses: arduino/setup-task@v2
      - name: Install wkg
        run: cargo install wasm-pkg-tools --locked
      - name: Run CI task
        run: task ci
